<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GGubi's Gurume</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class=wrapper>
    <header>
        
    </header>
    <section>
        <div class="__taste">
            <div id="salt"><h1>짜다</h1></div>
            <div id="hot"><h1>맵다</h1></div>
            <div id="sweet"><h1>달다</h1></div>
            <div id="sour"><h1>시다</h1></div>
        </div>
        <div class="container">
            <span class="records">
                <img src="{% static 'img/1.jpg' %}" alt="" height="300" width="300">
                <img src="{% static 'img/2.jpg' %}" alt="" height="300" width="300">
                <img src="{% static 'img/3.jpg' %}" alt="" height="300" width="300">
                <img src="{% static 'img/4.jpeg' %}" alt="" height="300" width="300">
                <img src="{% static 'img/5.png' %}" alt="" height="300" width="300">
                <img src="{% static 'img/6.jpeg' %}" alt="" height="300" width="300">
                <img src="{% static 'img/7.jpeg' %}" alt="" height="300" width="300">
                <img src="{% static 'img/8.jpeg' %}" alt="" height="300" width="300">
                <img src="{% static 'img/9.png' %}" alt="" height="300" width="300">
            </span>
        </div>
    </section>
    </div>



</body>
</html>